template#activeModules(is= "dom-bind")
    paper-material#activeModulesDiv.settingsMaterial
        div.settingsTitle
            | Choose active modules:
        div.settingsContent
            div#modulesList
                each module in settings.modules
                        paper-item.moduleItem.list-group-item
                            paper-toggle-button(name=module.name, checked= `${module.active}`)= module.name
        paper-button.settingsButton(onclick= "submitActiveModules()")
            iron-icon(icon= "check")
            |OK
    paper-toast#activeModulesToast
        |Active modules updated, app will restart now!
    paper-material.settingsMaterial
        div.settingsTitle
            | Upload wallpaper:
        div.settingsContent
            form#wallpaperForm(method="post", action="/changeWallpaper", enctype="multipart/form-data")
                paper-input#wallpaper(name ="wallpaper", type="file")
        paper-button.settingsButton(onclick="document.getElementById('wallpaperForm').submit()")
            iron-icon(icon= "check")
            |ok
    paper-material.settingsMaterial
        div.settingsTitle
            |Change theme
        div.settingsContent
            paper-dropdown-menu#themeDropdownMenu(label="Choose your theme")
                paper-listbox.dropdown-content
                    each theme in themes
                        paper-item= theme
        paper-button.settingsButton(onclick="submitTheme()")
            iron-icon(icon="check")
            |ok
        paper-toast#themeToast
            |Theme updated
    paper-material.settingsMaterial
        div.settingsTitle.noPaddingBottom
            |Info
        div.settingsContent
            a.paperItemLinkA(href="https://github.com/SolanaFish")
                paper-item.paperItemLinkItem
                    paper-item-body(two-line)
                        div="App mady by SolanaFish"
                        div(secondary)="https://github.com/SolanaFish"
            a.paperItemLinkA(href="https://github.com/SolanaFish/SolanaPage")
                paper-item.paperItemLinkItem
                    paper-item-body(two-line)
                        div="Repository"
                        div(secondary)="https://github.com/SolanaFish/SolanaPage"
            a.paperItemLinkA(href="https://github.com/SolanaFish/SolanaPage/issues")
                paper-item.paperItemLinkItem
                    paper-item-body(two-line)
                        div="If you have any problems please open an issue here"
                        div(secondary)="https://github.com/SolanaFish/SolanaPage/issues"
