paper-material#addBookmark.settingsMaterial
    template#addBookmarkTemplate(is= "dom-bind")
        div.settingsTitle.noPaddingBottom
            |Add new bookmark:
        div.settingsContent
            paper-input#addBookmarkName(label= "Name for your bookmark", name= "bookmarkName")
            paper-input#addBookmarkUrl(label= "Url for your bookmark", name= "bookmarkLink")
            div.settingsMaterial
                div.settingsContent.alignEnd
                    paper-dropdown-menu(label= "category")
                        paper-menu#addBookmarkCategory.dropdown-content(attr-for-selected="value", selected= "{{category}}")
                            each category in bookmarks.categories
                                paper-item(value= category.name)= category.name
                            paper-item(value= "newCategory")= "Add new category"

                div.rightToggleButton
                    paper-toggle-button#customColorToggleButton(name="customColor")
                        |Custom color
            iron-collapse#customColorCollapse
                div.settingsMaterial
                    if !colorfulItems
                        div.settingsTitle= "You have to enable coloful items to see any difference"
                    div.settingsContent.customColorContainer
                        div.customColorElement
                            div.settingsTitle= "Background color"
                            paper-slider#customColorRedSlider.red.wideSlider(min="0", max="255", editable, value="255")
                            paper-slider#customColorGreenSlider.green.wideSlider(min="0", max="255", editable, value="255")
                            paper-slider#customColorBlueSlider.blue.wideSlider(min="0", max="255", editable, value="255")
                            paper-input#customColorHex(label="Background color hex value", value="#ffffff")
                        div.customColorElement
                            div.settingsTitle= "Text color"
                            paper-slider#customColorRedSliderText.red.wideSlider(min="0", max="255", editable, value="0")
                            paper-slider#customColorGreenSliderText.green.wideSlider(min="0", max="255", editable, value="0")
                            paper-slider#customColorBlueSliderText.blue.wideSlider(min="0", max="255", editable, value="0")
                            paper-input#customColorHexText(label="Text color hex value", value="#000000")
                div
                    paper-item#customColorItem.bookmarksItemsItem
                        a#customColorItemA.paperItemHrefBody.bookmarksItemsLink
                            paper-item-body(two-line)
                                div= "Bookmarks name"
                                div(secondary)= "Bookmarks URL"
                        paper-icon-button.paperItemHrefButton(icon="link")


            paper-toast#noCategoryToast(text= "Please, select an category")
            paper-toast#errorCategoryToast(text= "Error while adding new category")
            paper-toast#displayMethodToast(text="Display method updated")
            paper-toast#colorfulItemsToast(text="Colorful items method updated")
            paper-toast#addedBookmarkToast(text="Added bookmark")
            paper-toast#errorBookmarkToast(text="Error while adding bookmark")

        paper-button.settingsButton(onclick= "addBookmark()")
            iron-icon(icon="check")
            |Add
        paper-dialog#addNewCategoryDialog(modal)
            div.settingsTitle
                |Add new category
            div.settingsContent
                paper-input#newCategory(label="New category name")
            div.buttons
                paper-button(dialog-confirm)
                    iron-icon(icon="clear")
                    |Cancel
                paper-button(dialog-confirm, autofocus, onclick="addBookmarkWithNewCategory()")
                    iron-icon(icon="check")
                    |Add

paper-material#deleteCategory.settingsMaterial
    div.settingsTitle.noPaddingBottom
        |Delete category:
    div.deleteMaterial.settingsContent(role="listbox")
        div#categoriesList
            each category, index in bookmarks.categories
                paper-item.deleteCategoryItem.list-group-item(orginalPosition= index)
                    paper-item-body('two-line')
                        div
                            =category.name
                        div('secondary')
                            =`${category.bookmarks.length} bookmarks in this category`
                    iron-icon(icon="reorder")
                    paper-icon-button(icon="clear", onclick=`deleteCategory('${category.name}')`)
    paper-button.settingsButton(onclick="reorderCategories()")
        iron-icon(icon="check")
        |OK
paper-material#deleteBookmark.settingsMaterial.noPadding
    div.settingsTitle
        |Delete bookmark:
    div.settingsContent
    template#bookmarsToDelete(is= "dom-bind")
        div.deleteBookmarksContent
            if bookmarks.categories.length > 1
                div.bookmarksItemsContainer
                    div.bookmarksItemsDrawer
                        paper-menu#deleteBookmarkItemMenu(selected="{{page}}")
                            each category in bookmarks.categories
                                paper-item.bookmarksItemsDrawerItem
                                    paper-item-body('two-line')
                                        div
                                            =category.name
                                        div('secondary')
                                            =`${category.bookmarks.length} bookmarks in this category`
                    div.bookmarksItemsContent
                        iron-pages#deleteBookmarkPages(selected= "{{page}}")
                            each category in bookmarks.categories
                                div.deleteBookmarkSortable
                                    each bookmark, bookmarkIndex in category.bookmarks
                                        paper-item.bookmarksItemsItem(orgorginalPosition= bookmarkIndex, category=category.name)
                                            paper-item-body(two-line)
                                                div= bookmark.name
                                                div(secondary)= bookmark.url
                                            iron-icon(icon="reorder")
                                            paper-icon-button(icon="clear", onclick=`deleteBookmark('${bookmark.url}','${category.name}')`)
            else
                div.bookmarksItemsContent
                    each bookmark in bookmarks.categories[0].bookmarks
                        a.bookmarksItemsLink(href= bookmark.url)
                            paper-item.bookmarksItemsItem
                                paper-item-body(two-line)
                                    div= bookmark.name
                                    div(secondary)= bookmark.url
    paper-button.settingsButton(onclick="reorderBookmarks()")
        iron-icon(icon="check")
        |OK


paper-material.settingsMaterial
    div.settingsTitle
        |Change display method
    div.settingsContent
        if view === 'items'
            paper-toggle-button#displayMethodMenu(checked)
                |Use item view
        else
            paper-toggle-button#displayMethodMenu
                |Use item view

        if colorfulItems
            paper-toggle-button#colorfulItemsToggle(checked)
                |Use colorful item view
        else
            paper-toggle-button#colorfulItemsToggle
                |Use colorful item view
