paper-material(id= "addBookmark", class="settingsMaterial")
    template(is= "dom-bind", id="addBookmarkTemplate")
        div(class="settingsTitle")
            |Add new bookmark:
        div(class="settingsContent")
            form(is= "iron-form", id= "addBookmarkForm", action= "/bookmarks/addBookmark", method="POST")
                paper-input(label= "Name for your bookmark", name= "bookmarkName")
                paper-input(label= "Url for your bookmark", name= "bookmarkLink")
                paper-dropdown-menu(label= "category")
                    paper-menu(class="dropdown-content", attr-for-selected="value", selected= "{{category}}")
                        each category in bookmarks.categories
                            paper-item(value= category.name)= category.name
                        paper-item(value= "newCategory")= "Add new category"
                input(type="hidden", name="category", value="{{category}}")
                paper-toast(id= "noCategoryToast", text= "Please, select an category")
                paper-toast(id= "errorCategoryToast", text= "Error while adding new category")
        paper-button(onclick= "addBookmark()", class= "settingsButton")
            iron-icon(icon="check")
            |Add
        paper-dialog(id="addNewCategoryDialog", modal)
            div(class="settingsTitle")
                |Add new category
            div(class="settingsContent")
                paper-input(id="newCategory", label="New category name")
            div(class="buttons")
                paper-button(dialog-confirm)
                    iron-icon(icon="clear")
                    |Cancel
                paper-button(dialog-confirm, autofocus, onclick="addBookmarkWithNewCategory()")
                    iron-icon(icon="check")
                    |Add

paper-material(id= "deleteCategory", class="settingsMaterial")
    div(class="settingsTitle")
        |Delete category:
    div(class="settingsContent deleteMaterial")
        each category in bookmarks.categories
            paper-card(heading= category.name, class="deleteCategoryCard")
                div(class="card-actions")
                    paper-button(onclick= "deleteCategory('" + category.name + "')", class="deleteButton")
                        iron-icon(icon= "clear")
                        | Delete Category
paper-material(id= "deleteBookmark", class="settingsMaterial")
    div(class="settingsTitle")
        |Delete bookmark:
    template(is= "dom-bind", id= "bookmarsToDelete")
        div(class="deleteBookmarksContent")
            paper-tabs(selected= "{{page}}" id="deleteBookmarksTab", class= "bookmarkTabs")
                each category in bookmarks.categories
                    paper-tab= category.name
            iron-pages(selected= "{{page}}" id="test")
                each category in bookmarks.categories
                    div(class="settingsMaterial deleteBookmarkDiv")
                        each bookmark in category.bookmarks
                            div(class="deleteBookmarkCard")
                                paper-card(image= `thumbnails/${bookmark.thumbnail}`, id= bookmark.name, class="deleteBookmarkCard")
                                    = bookmark.name
                                    div(class= "card-actions")
                                        paper-button(onclick=`deleteBookmark('${bookmark.url}','${category.name}')` class="deleteButton")
                                            iron-icon(icon="clear")
                                            |DELETE
