paper-material.settingsMaterial
    div.settingsTitle
        |How many upcoming events to display
    div.settingsContent
        paper-slider#calendarEvents.wideSlider(min="1", max="100", editable, value=settings.events)
paper-material.settingsMaterial
    div.settingsTitle
        |How often to update event list
    div.settingsContent
        paper-slider#calendarRefresh.wideSlider(min="1", max="120", editable, value=settings.refresh)
paper-toast#calendarEventsToast
    |Refresh time updated
paper-toast#calendarRefreshToast
    |Number of events updated
paper-material.settingsMaterial
    div.settingsTitle
        |What to display in event details
    div.settingsContent
        each section in settings.display
            paper-toggle-button(name=section.name, checked=section.active)= `Event ${section.name}`
paper-material.settingsMaterial
    div.settingsTitle
        |Logout from calendar module
    div.settingsContent
        paper-button(onclick="calendarLogout(false)")
            iron-icon(icon="close")
            |Logout
    paper-toast#calendarLogoutToast
        |Logged out from calendar module
    paper-dialog#calendarLogoutDialog(modal)
        div
            |Do you really want to logout
        div.buttons
            paper-button(dialog-dismiss)
                |No
            paper-button(dialog-confirm, onclick= "calendarLogout(true)")
                |Yes
